:root{
    --black: #121212;
    --light-gray: #949497;
    --white: #FFF;
}

*{
    font-family: Sora, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--black);
    color: var(--light-gray);
    padding: 32px 112px;
;}

/* HEADER */
header{
    display: flex;
    margin-bottom: 64px;

    .personal-best{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height:fit-content;

        img{
            width: 18px;
            margin-right: 10px;
        }
        
        p{
            width: fit-content;
            font-size: 18px;
        }
    }
}

/* STATS BAR */
.stats-bar{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;

    .stats{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: start;

        #wpm{
            padding-right: 24px;
        }

        #accuracy{
            padding: 0px 24px;
        }

        #time{
            padding-left: 24px;
        }
    }
}