:root{
    --black: #121212;
    --light-black: #262626;
    --light-gray: #949497;
    --dark-gray: #717178;
    --white: #FFF;
    --light-blue: #4CA6FF;
    --dark-blue: #177DFF;
    --red: #D64D5B;
    --green: #4DD67B;
    --yellow: #F4DC73;
}

*{
    font-family: Sora, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    background-color: var(--black);
    color: var(--light-gray);
    padding: 32px 112px;
}

main{
    position: relative;
}

h1{
    font-size: 40px;
    line-height: 136%;
    letter-spacing: 0.4px;
    color: var(--white);
    font-weight: bold;
    margin: 24px 0px 10px;
}

/* HEADER */
header{
    display: flex;
    margin-bottom: 64px;

    .personal-best{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height:fit-content;

        img{
            width: 18px;
            margin-right: 10px;
        }
        
        p{
            width: fit-content;
            font-size: 18px;
        }
    }
}


/* STATS BAR */
.stats-bar{
    min-width: 100%;
    max-width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--light-black);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;

    .stats{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: start;
        align-items: center;
        margin-right: 64px;

        #wpm{
            padding-right: 24px;
        }

        #accuracy{
            padding: 0px 24px;
            border-left: 1px solid var(--dark-gray);
            border-right: 1px solid var(--dark-gray);
        }

        #time{
            padding-left: 24px;
        }

        p{
            display: flex;
            align-items: center;
            gap: 6px;
            font-size: 20px;
        }
        p span{
            font-size: 24px;
            font-weight: bold;
            line-height: 100%;
        }
    }

    .toggles{
        display: flex;
        justify-self: end;

        .toggle{
            padding: 6px 10px;
            border-radius: 8px;
            background-color: transparent;
            color: var(--white);
            border: 1px solid var(--dark-gray);
            cursor: pointer; 
        }

        .toggle:hover, .active{
            color: var(--light-blue);
            border: 1px solid var(--light-blue);
        }


        .difficulty-toggles-section{
            display: flex;
            align-items: center;
            padding-right: 16px;

            p{
                margin-right: 14px;
            }

            .medium-toggle{
                margin: 0px 6px;
            }
        }

        .mode-toggles{
            display: flex;
            align-items: center;
            padding-left: 16px;
            border-left: 1px solid var(--dark-gray);
            
            p{
                margin-right: 6px;
            }

            .timed-toggle{
                margin: 0px 6px;
            }
        }
    }
}


/* PASSAGE */
.passage-box{
    width: 100%;
    height: fit-content;
    padding: 32px 0px 64px;
    border-bottom: 1px solid var(--light-black);
    position: relative;

    .passage{
        font-size: 40px;
        line-height: 136%;
        letter-spacing: 0.4px;
        padding: 16px;
    }

    .start-typing-window{
        backdrop-filter: blur(10px); 
        font-size: 20px;
        font-weight: 500;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 2;
        top: 0px;
        left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        visibility: visible; 

        .start-typing-button{
            background-color: var(--dark-blue);
            font-size: inherit;
            font-weight: inherit;
            color: var(--white);
            border: none;
            padding: 16px 24px;
            border-radius: 12px;
        }
    }
}

/* TEST COMPLETE WINDOW*/
.test-complete-window{
    width: 100%;
    height: 100%;
    background-color: var(--black);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;

    .complete-check{
        box-shadow: 0px 0px 72px var(--green);
        background-color: transparent;
        border-radius: 100%;
    }

    p{
        font-size: 20px;
    }

    .test-results{
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0px 32px;
        column-gap: 20px;

        .result-box{
            padding: 16px 24px;
            border-radius: 8px;
            border: 1px solid var(--dark-gray);
            width: 160px;

            .result{
                margin-bottom: 10px;
            }

            .result-number{
                font-size: 24px;
                font-weight: bold;
            }
        }
    }

    .go-again-button{
        background-color: var(--white);
        color: var(--black);
        font-size: 20px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -0.3px;
        padding: 10px 16px;
        border-radius: 12px;
        border: none;
        display: flex;
        gap: 6px;
    }

    .red-star{
        position: absolute;
        top: 15%;
        left: 0px;
    }

    .yellow-star{
        position: absolute;
        bottom: 20%;
        right: 0px;
    }
}
