:root{
    --black: #121212;
    --light-gray: #949497;
    --dark-gray: #717178;
    --white: #FFF;
    --light-blue: #4CA6FF;
    --dark-blue: #177DFF;
    --red: #D64D5B;
    --green: #4DD67B;
    --yellow: #F4DC73;
}

*{
    font-family: Sora, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    background-color: var(--black);
    color: var(--light-gray);
    padding: 32px 112px;
;}

/* HEADER */
header{
    display: flex;
    margin-bottom: 64px;

    .personal-best{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height:fit-content;

        img{
            width: 18px;
            margin-right: 10px;
        }
        
        p{
            width: fit-content;
            font-size: 18px;
        }
    }
}

/* STATS BAR */
.stats-bar{
    width: 100%;
    padding-bottom: 16px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 64px;

    .stats{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: start;
        align-items: center;

        #wpm{
            padding-right: 24px;
        }

        #accuracy{
            padding: 0px 24px;
            border-left: 1px solid var(--dark-gray);
            border-right: 1px solid var(--dark-gray);
        }

        #time{
            padding-left: 24px;
        }

        p{
            display: flex;
            align-items: center;
            gap: 6px;
            font-size: 20px;
        }
        p span{
            font-size: 24px;
            font-weight: bold;
            line-height: 100%;
        }
    }

    .toggles{
        display: flex;
        justify-self: end;

        .toggle{
            padding: 6px 10px;
            border-radius: 8px;
            background-color: transparent;
            color: var(--white);
            border: 1px solid var(--dark-gray);
            cursor: pointer; 
        }

        .toggle:hover{
            color: var(--light-blue);
            border: 1px solid var(--light-blue);
        }


        .difficulty-toggles-section{
            display: flex;
            align-items: center;
            padding-right: 16px;

            p{
                margin-right: 14px;
            }

            .medium{
                margin: 0px 6px;
            }
        }

        .mode-toggles{
            display: flex;
            align-items: center;
            padding-left: 16px;
            border-left: 1px solid var(--dark-gray);
            
            p{
                margin-right: 6px;
            }

            .timed{
                margin: 0px 6px;
            }
        }
    }
}