:root{
    --black: #121212;
    --light-gray: #949497;
    --white: #FFF;
}

*{
    font-family: Sora, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--black);
    color: var(--light-gray);
    padding: 32px 112px;
;}

/* HEADER */
header{
    display: flex;

    .personal-best{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height:fit-content;

        img{
            width: 18px;
            margin-right: 10px;
        }
        
        p{
            width: fit-content;
            font-size: 18px;
        }
    }
}